<h1>Editing Book</h1>

<%= form_with model:@book, local:true do |f| %>
  <%= render "layouts/error_messages", model: f.object %>

  <form class="edit_book">
    <div class="field">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body, "Body" %>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "Update Book" %>
    </div>
  </form>

<% end %>

<a class="show"><%= link_to "Show", book_path(@book.id) %></a>
|
<a class="back" href="/books">Back</a>
